<!DOCTYPE html>
<html>
<head>
<link href="/static/pure-min.css" rel="stylesheet" type="text/css" />
<link href="/static/custom.css" rel="stylesheet" type="text/css" />
<meta charset=utf-8 />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>JS Bin</title>
</head>
<body>
<header>
<nav class="pure-menu pure-menu-blackbg pure-menu-open pure-menu-horizontal">
<a href="#" class="pure-menu-heading">Github Subscriptions</a>
    <ul>
        <li class="pure-menu-selected"><a href="#">Subscriptions</a></li>
        <!-- other items ... -->
    </ul>
</nav>
</header>
<section class="dashboard">
    <form class="pure-form" id="subscriptions">
        {% for orgname,org in orgs.items() %}
        <div class="pure-g">
            <div class="pure-u-1"><h2>{{orgname}}</h2></div>
            {% for repo in org %}
            <fieldset class="pure-u-1-4{% if repo.private %} highlight{%endif%}">
                    <label for={{repo.id}}>
                        <input id={{repo.id}} type="checkbox" {% if repo.subscription and not repo.subscription.ignored %}checked=true{% endif %}/>
                        {{repo.name}}
                    </label>
                    {% if repo.subscription and repo.subscription.subscribed %}<span class="pill-subscribed">subscribed</span>{% endif %}
                    {% if repo.subscription and repo.subscription.ignored %}<span class="pill-ignored">ignored</span>{% endif %}
                    {% if not repo.subscription %}<span class="pill-error">not subscribed</span>{% endif %}
            </fieldset>
            {% endfor %}
        </div>
        {% endfor %}
    </form>
</section>
</body>
</html>
