<!DOCTYPE html>
<html>
<head>
<link href="/static/pure-min.css" rel="stylesheet" type="text/css" />
<meta charset=utf-8 />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>JS Bin</title>
</head>
<body>
    <h1>My Github Hack</h1>
  <div class="pure-g">
    <form class="pure-form" id="subscriptions">
        {% for repo in repos %}
        <div class="pure-u-1-4">
            <div class="pure-g">
                <div class="pure-u-1-4"><input type="checkbox" {% if not repo.subscription.ignored %}checked=true{% endif %}/></div>
                <p class="pure-u-3-4">{{repo.full_name}}</p>
            </div>
        </div>
        {% endfor %}
    </form>
  </div>
</body>
</html>
